@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "a a a a a a a a a a a a"
        "p p p p p p p p p p p p"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

/* Header */ 
header {
    grid-area: h;
    grid-template-columns: repeat(1fr);
    position: fixed !important;
    top: 0;
    width: 100%;
    width: #fff;
    z-index: 1;
}

.navbar {
    background-color: #fff;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

header a {
    position: relative;
}

header a,
header a:hover {
    text-decoration: none;
}

header a::after {
    content:'';
    position: absolute;
    width: 70%;
    height: 3px;
    bottom: -10px;
    left: 20px;
    background-color: rgb(230, 23, 23);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

header a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* Main page */
#main {
    grid-area: m;
    background-image: url(./img/background.png);
    background-position: center;
    background-size: cover;
    grid-template-columns: repeat(1, 1fr);
    height: 120vh;
}

/* About me */
h1 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 50px;
    margin-top: 40px;
    color: rgb(63, 63, 63);
    letter-spacing: 2px;
    text-shadow: 6px 4px 9px rgba(152, 150, 150, 1);
}

h1:after {
    display: block;
    content:' ';
    height: 2px;
    width: 90px;
    background-color: rgb(230, 23, 23);
    margin-left: 47%;
    margin-top: 15px;
}

#about_me {
    grid-area: a;
    background-color: #f7f7f7ec;
    height: 100vh;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.box .description, 
.box .image {
    margin: 70px auto;
}

.box .description {
    width: 70%;
    font-size: 21px;
    text-indent: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 70px 10px;
}

.box .description p::first-letter {
    font-size: 40px;
    color: red;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

.box .image {
    width: 70%;
}

.box .image img {
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 7px 16px 1px rgba(0,0,0,0.91);
}

/* Projects */
#projects {
    grid-area: p;
    margin-bottom: 40px;
    height: 100vh;
}

#projects .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px auto;
    width: 80%;
    grid-gap: 20px;
}

.boxes .image-box {
    position: relative;
    width: 100%;
}

.boxes .image-box img {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(112, 138, 98, 0.582);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .image-box:hover .overlay {
    height: 100%;
    padding: 10px 10px;
  }

  .text {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    font-weight: 400;
}
 
.text2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-bottom: 2px solid rgb(63, 63, 63);
}

.text2 a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: rgb(170, 51, 51);
}

  .modalDialog {
    position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 5;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    overflow: scroll;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
    width: 40%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
} 

.modal-box h3 {
    font-size: 25px;
}

.project-picture {
    text-align: center;
}

.project-picture img {
    width: 60%;
}

/* Contact */
#contact {
    grid-area: c;
    grid-template-columns: repeat(1, 1fr);   
    background-color: #f7f7f7ec; 
    margin-top: 40px;
    height: 100vh;
    position: relative;
    bottom: 0;
}

#contact form {
    width: 60%;
    margin: 0 auto;
}

form .btn {
    transition: transform 0.5s;
}

form .btn:hover {
    color: rgb(230, 23, 23);
    font-weight: bold;
    border: none;
    background-color: #fff;
    transform: scale(1.1);
}

.links {
    text-align: center;
    padding-top: 10px;
}

.links a {
    font-size: 40px;
    padding-left: 30px;
}

.links a:first-child {
    color: #0077B5;
}

.links a:last-child {
    color: #000;
}

.links i {
    transition: transform 0.5s;
}

.links i:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    grid-area: f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7ec;
}

/* Media queries */
@media (max-width: 768px) {
    header ul li {
        font-size: 15px;
    }

    #main {
        background-size: 100%;
        background-repeat: no-repeat;
    }

    h1:after {
        margin-left: 45%;
    }

    #about_me {
        height: 140vh;
    }

    .box {
        grid-template-columns: 1fr;
    }

    .box .description,
    .box .image {
        margin: 10px auto;
        width: 80%;
    }

    .box .description {
        padding: 0;
    }

    .box .image img {
        width: 100%;
    }

    #projects .boxes {
        grid-template-columns: repeat(2, 1fr);
    }

    #contact {
        margin-top: 500px;
        height: 100vh;
    }

    #contact form {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .navbar {
        background-color: rgb(207, 43, 43);
    }

    .nav-link {
        color: rgb(240, 239, 239) !important;
        text-align: center;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

   .box .description {
       font-size: 15px;
   }

    header a::after {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    h1::after {
        margin-left: 43%;
    }

    #main {
        height: 100vh;
    }

    #about_me {
        height: 120vh;
    }

    .box .image {
        margin-top: 20px;
    }

    #projects {
        height: 120vh;
    }

    #projects .boxes {
        grid-template-columns: 1fr;
    }

    #contact {
        height: 100vh;
        margin-top: 1300px;
    }
}